/* Variables */
:root{
   --button-red-rest: #FB565A;
   --button-red-hover: #E74246;
   --button-red-active: #D7373B;
   --button-green-rest: #00CA74;
   --button-green-hover: #00BC6C;
   --button-green-active: #00AA62;
   --button-yellow-rest: #EFC849;
   --button-yellow-hover: #EAB534;
   --button-yellow-active: #E5A722;
   --filter-buttons-rest: #EEEEEE;
   --filter-buttons-hover: #DFDFDF;
   --filter-buttons-active: #D5D5D5;
   --pagination-rest: #EEEEEE;
   --pagination-hover: #DFDFDF;
   --pagination-active: #D5D5D5;
	 --text-basic: #283136;
    --text-add: #000000;
   --address: #666666;
   --button-link-know: #ffffff;
   --current: rgba(0, 0, 0, 0.0001);
}
/* Global */
/* Index */
.page{
  height: 100%;
}

.page-body{
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--text-basic);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.main-header{
  background-color: #eeeeee;
  min-height: 136px;
  padding-top: 76px;
  box-sizing: border-box;
}

.main-nav{
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--text-basic);
  background-color: transparent;
  display: grid;
  width: 1160px;
  margin: 0 auto;
  position: relative;
}

.header-bar{
  background-color: transparent;
}

.header-logo{
  position: absolute;
  left: 0;
  top: -27px;
}

.header-logo-shop:hover,
.header-logo-shop:focus{
  opacity: 0.7;
}
.header-logo-shop:active{
  opacity: 0.3;
}

.main-nav-wrapper{
  display: grid;
  grid-template-columns: 1fr min-content;
  background-color: transparent;
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

.nav-list{
  margin: 0;
  padding: 0px 426px 0 326px;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 20px;
}

.nav-item{
  margin-left: 26px;
  padding: 0;
}

.nav-link{
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--text-basic);
  text-decoration: none;
  text-transform: uppercase;
  position: relative;
}

.nav-link--active::after{
  content: "";
  position: absolute;
  bottom: -20px;
  left: 0;
  width: 100%;
  height: 2px;
  border-bottom: 2px solid #FB565A;
  display: block;
}

.nav-link:hover,
.nav-link:focus{
  color: var(--button-red-rest);
}

.nav-link:active{
  color: var(--text-basic);
  opacity: 0.3;
}

.nav-cart{
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--text-basic);
  text-decoration: none;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  padding-left: 41px;
}

.nav-cart:hover,
.nav-cart:focus{
  color:var(--button-red-rest);
}

.nav-cart:active{
  color: var(--text-basic);
  opacity: 0.3;
}

.nav-cart::before{
  content: "";
  position: absolute;
  top: 6px;
  left: 1px;
  width: 16px;
  height: 18px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.our-features{
  background-color: #eeeeee;
  margin-bottom: 78px;
  position: relative;
}

.slider-list{
  padding: 0;
  margin: 0 auto;
  list-style: none;
  width: 1160px;
  min-height: 410px;
}

.slider-item{
  display: none;
  padding-top: 56px;
  position: relative;
}

.slider-item.slider-item--active::after{
  content: "";
  position: absolute;
  width: 760px;
  height: 436px;
  right: 4px;
  top: -22px;
}

.slider-item--first::after{
  background: url("../img/sliders/phones.png") no-repeat top left;

}

.slider-item--second::after{
  background: url("../img/sliders/math.png") no-repeat top left;
}

.slider-item--third::after{
  background: url("../img/sliders/night.png") no-repeat top left;
}

.slider-item--active{
  display: block;
}

.slider-text--first{
  margin: 0 0 38px;
  padding: 0;
  width: 401px;
}

.slider-text--second{
  margin: 0 0 39px;
  padding: 0;
  width: 401px;
  margin: 0px 0 28px;
  padding: 12px 0px 0px 0px;
  width: 426px;
}

.slider-text--third{
  margin: 0 0 28px;
  padding-top: 13px;
  width: 401px;
  width: 356px;
}

.slider-head{
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  color: var(--text-add);
}

.slider-head--first{
  padding: 0;
  margin: 0 0 26px;
  width: 385px;
}

.slider-head--second{
  padding: 0;
  margin: 0 0 26px;
  width: 527px;
}

.slider-head--third{
  padding: 0;
  margin: 0 0 26px;
  width: 527px;
  width: 422px; 
}
 
.slider-link{
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-decoration: none;
  vertical-align: middle;
  background-color: var(--button-red-rest);
  color: var(--button-link-know);
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  border-radius: 3px;
}

.slider-link--first{
  padding: 16px 55px 16px;
}

.slider-link--second{
  padding: 16px 54px 16px 55px;
}

.slider-link--third{
  padding: 14px 55px 17px 54px;
}

.slider-link:hover,
.slider-link:focus{
  background-color: var(--button-red-hover);
  color: var(--button-link-know);
}

.slider-link:active{
  color: rgba(255, 255, 255, 0.3);
  background-color: var(--button-red-active);
}

.slider-nav{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  position: absolute;
  bottom: 97px;
  left: 50%;
  margin-left: 0px;
  transform: translateX(-50%);
}

.slider-nav-item{
  margin-left: 7px;
  padding-right: 9px;
}

.slider-nav-link{
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-nav-link--active::after{
  content: "";
  width: 8px;
  height: 8px;
  border: 2px solid #C1C1C1;
  box-sizing: border-box;
  display: block;
  border-radius: 50%;
}

.our-serv{
  width: 1160px;
  margin: 0 auto 80px;
}

.serv-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 40px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.serv-item{
  text-align: left;
  padding-top: 171px;
  position: relative;
}

.serv-item::after{
  content: "";
  position: absolute;
  width: 300px;
  height: 146px;
  display: block;
  top: 0;
  left: 0;
  background: rgb(211, 45, 45);
}

.serv-item--first::after{
  background: url("../img/illustrations/web.png");
}

.serv-item--second::after{
  background: url("../img/illustrations/app.png");
}

.serv-item--third::after{
  background: url("../img/illustrations/pres.png");
}

.item-head{
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 16px;
  padding: 0; 
}

.item-text{
  margin: 0 0 31px;
  padding: 0;
  width: 251px;
}

.serv-link{
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-decoration: none;
  vertical-align: middle;
  color: var(--button-link-know);
  text-transform: uppercase;
  display: inline-block;
  padding: 17px 40px;
  border-radius: 3px;
}

.serv-link--web{
  background-color: var(--button-red-rest);
}

.serv-link--web:hover,
.serv-link--web:focus{
  background-color: var(--button-red-hover);
  color: var(--button-link-know);
}

.serv-link--web:active{
  background-color: var(--button-red-active);
  color: rgba(255, 255, 255, 0.3);
}

.serv-link--app{
  background-color: var(--button-green-rest);
}

.serv-link--app:hover,
.serv-link--app:focus{
  background-color: var(--button-green-hover);
  color: var(--button-link-know);
}

.serv-link--app:active{
  background-color: var(--button-green-active);
  color: rgba(255, 255, 255, 0.3);
}

.serv-link--pres{
  background-color: var(--button-yellow-rest);
}

.serv-link--pres:hover,
.serv-link--pres:focus{
  background-color: var(--button-yellow-hover);
  color: var(--button-link-know);
}

.serv-link--pres:active{
  background-color: var(--button-yellow-active);
  color: rgba(255, 255, 255, 0.3);
}

.about-us-wrapper{
  display: grid;
  grid-template-columns: 1fr min-content;
  column-gap: 50px;
  width: 1160px;
  margin: 0 auto;
  position: relative;
}

.about-us-wrapper::before{
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1160px;
  height: 2px;
  background: #eeeeee;
}

.about-us{
  margin: 0;
  padding: 0;
}

.about-heavy{
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  margin: 74px 0 33px;
}

.about-light{
  width: 616px;
}

.about-head{
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 41px;
}

.about-list{
  list-style: none;
  margin: 0;
  padding: 0;
}

.about-item{
  position: relative;
  margin: 23px 0 0px 37px;
  padding: 0px 1px 1px 0px;
}

.about-item::before{
  content: "";
  position: absolute;
  bottom: 12px;
  left: -38px;
  width: 27px;
  height: 2px;
  border-bottom: 2px solid #FB565A;
  display: block;
}

.about-table::before{
  content: "";
  position: absolute;
  top: 39px;
  left: -17px;
  width: 386px;
  height: 225px;
  background-image: url("../img/illustrations/promo.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.about-table{
  text-align: center;
  padding-top: 282px;
  position: relative;

}

.promo-header{
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 4px 13px 0px 0px;
  padding: 0;
}

.promo-list{
  padding: 0;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.numbers{
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;
}

.caption{
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}

.partners{
  width: 1160px;
  margin: 73px auto 80px;
}

.partners-list{
  display: grid;
  grid-template-columns: 260px 260px 260px 260px;
  column-gap: 40px;
  margin: 0 auto;
  list-style: none;
  list-style: none;
  margin: 0 -66px;
  padding: 52px 52px;
  width: 1160px;
  position: relative;
}

.partners-list::before{
  content: "";
  position: absolute;
  top: 0px;
  left: 66px;
  width: 1160px;
  height: 2px;
  background: #eeeeee;
}

.partners-list::after{
  content: "";
  position: absolute;
  top: 181px;
  left: 65px;
  width: 1160px;
  height: 2px;
  background: #eeeeee;
}

.partners-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 290px;
  height: 81px;
  position: relative;
}

.partners-link::after{
  width: 2px;
  height: 4px;
  color: #EEEEEE;
  content: "";
  position: absolute;
  border-left: 2px solid 2px solid #eeeeee;
}

.partners-item{
  align-items: center;
  position: relative;
}

.partners-item:nth-child(-n+3):after{
  content: "";
  position: absolute;
  left: 272px;
  top: 12px;
  width: 23px;
  height: 50px;
  border-right: 2px solid rgba(77, 77, 77, 0.4);
  box-sizing: border-box;
}

.partners-link:hover{
  opacity: 0.2;
}

.partners-link:active{
  opacity: 0.1;
}

/* Catalog */

.catalog-container{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
  padding-top: 31px;
}

.shop-header{
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  margin: 0 auto;
  background-color: #eeeeee;
  text-align: center;
  padding-top: 56px;
  padding-bottom: 108px;
}

.shop-header-text{
  max-width: 1160px;
  display: inline-block;
  vertical-align: top;
  margin: 0 auto;
}

/* Фильтры */

.form-filter{
  width: 260px;
  margin: 0;
  padding: 0;
}

.filter-fieldset{
  border: none;
  margin: 0;
  padding: 0;
}

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 48px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
  margin: 0px 0 0 0;
  padding: 24px 0px 0 0px;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 38px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
  margin-left: 0;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
}

.price-controls input {
  width: 80px;
  padding: 0;
  height: 38px;
  margin-left: 8px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
  font-family: inherit;
  font-size: inherit;
  border-radius: 3px;
}

.price-input{
  background-color: var(--filter-buttons-rest);
  border: none;
}

.legend-price{
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}

.legend-grid{
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0;
  padding-top: 54px;
}

.grid-item{
  margin-bottom: 19px;
}

.grid-item label{
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.grid-list{
  list-style: none;
  margin: 16px 0px 0px 37px;
  padding: 0;
}

.input-grid-radio+label{
  font-size: 16px;
  line-height: 20px;
  color: var(--text-basic);
}

.input-grid-radio + label::before{
  content: "";
  position: absolute;
  left: -37px;
  top: -2px;
  width: 25px;
  height: 25px;
  border: 4px solid rgba(77, 77, 77, 0.4);
  border-radius: 50%;
  box-sizing: border-box;
}

.input-grid-radio + label::after{
  content: "";
  position: absolute;
  top: 6px;
  left: -29px;
  width: 9px;
  height: 9px;
  background: rgba(77, 77, 77, 0.4);
  border-radius: 50%;
  box-sizing: border-box;
  display: none;
}

.radio-label:hover::after{
  background: #4d4d4d;
}

.radio-label:hover::before{
  border-color: #4d4d4d;
}

.input-grid-radio:checked + label::after{
  display: block;
}

.input-grid-radio:focus + label::after{
  background: #4d4d4d;
}

.input-grid-radio:focus + label::before{
  border-color: #4d4d4d;
}

.legend-feature{
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  padding: 28px 0 0 0;
}

.filter-feature{
  list-style: none;
  position: relative;
  display: block;
  margin: 13px 0 0 0px;
  padding: 0;
}

.checkbox{
  min-height: 27px;
}

.checkbox-label{
  font-size: 16px;
  line-height: 20px;
  color: var(--text-basic);
  position: relative;
  padding-left: 37px;
  padding-top: 2px;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  min-height: 23px;
}

.checkbox-input + label::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 23px;
  height: 23px;
  border: 2px solid rgba(77, 77, 77, 0.4);
  box-sizing: border-box;
  border-radius: 3px;
  z-index: 1;
}

.checkbox-input:hover + label::before{
  border-color: #4d4d4d;
}

.checkbox-input:focus + label::before{
  border-color: #4d4d4d;
}

.checkbox-spec{
  height: 7px;
  width: 19px;
  background: white;
  position: absolute;
  left: 11px;
  top: 4px;
  transform: rotate(-45deg);
  z-index: 2;
  display: none;
}

.checkbox-input:checked + label::after{
  content: "";
  position: absolute;
  left: 5px;
  top: 3px;
  width: 19px;
  height: 11px;
  box-sizing:  border-box;
  border-left: 4px solid rgba(77, 77, 77, 0.4);
  border-bottom: 4px solid rgba(77, 77, 77, 0.4);
  transform: rotate(-45deg);
  z-index: 3;
}

.checkbox-input:checked + label::after{
  display: block;
}

.checkbox-input:checked + label .checkbox-spec{
  display: block;
}

.checkbox-input:checked:hover + label::after{
  border-color: #4d4d4d;
}

.checkbox-input:checked:focus + label::after{
  border-color: #4d4d4d;
}
 
.feature-item{
  margin-bottom: 13px;
}

.filter-btn{
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  vertical-align: middle;
  color: var(--text-add);
  vertical-align: middle;
  text-transform: uppercase;
  background: #eeeeee;
  border: none;
  padding: 17px 89px;
  text-decoration: none;
  display: inline-block;
  border-radius: 3px;
  margin-top: 31px;
}

.filter-btn:hover,
.filter-btn:focus{
  background: #DFDFDF;;
}

.filter-btn:active{
background: #D5D5D5;
box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
border-radius: 3px;
}

/* SORT BUTTONS */

.sort-head{
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.sort-list{
  list-style: none;
  display: flex;
  margin: 0 0 0 241px;
  padding: 2px 0 0 0;
}

.sort-list-item{
  margin: 25px 0px 0px 26px;
}

.direction-list{
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  width: 38px;
  justify-content: space-between;
  position: absolute;
  right: 0;
  top: 28px;

}
.direction-item{
  position: relative;
}


.direction-link{
  display: block;
}


.direction-svg{
  transform: rotate(0deg);
  fill: rgba(166, 166, 166, 0.2);
}

.direction-link:hover .direction-svg{
  fill: #a6a6a6;
}

.direction-link:active .direction-svg{
  fill: #231f20;
}

.direction-decrease .direction-svg{
  transform: rotate(60deg);
}

.direction-svg--active{
  fill: rgb(35, 31, 32);
}

.sort-link{
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: var(--text-add);
  text-transform: uppercase;
  opacity: 0.3;
}

.sort-link--active,
.sort-link:focus{
  color: #000000;
  opacity: 1;
}

.sort-link:hover{
  opacity: 0.6;
}

.sort-link:active{
  opacity: 1;
}

.our-products{
  width: 760px;
}

.sort-container{
  display: flex;
  position: relative;
}


/* PRODUCT CARDS */

.product-list{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 24px 0 0 0;;
  justify-content: space-between;
}

.product-item{
  position: relative;
  border-radius: 5px;
  background: rgba(77, 77, 77, 0.12);
  padding-top: 41px;
  margin-bottom: 25px;
  position: relative;
}

.circle{
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  margin: 0;
  padding: 0;
  top: 12px;
  left: 16px;
}

.circle::after{
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  content: "";
  left: 46px;
}

.circle::before{
  width: 14px;
  height: 14px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  content: "";
  left: 23px;
}

.product-img {
  padding: 0;
  margin: 0;
}

.product-container{
  background-color: var(--pagination-rest);
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  padding-top: 29px;
  padding-bottom: 102px;
  opacity: 0;
}

.product-item:hover,
.product-item:focus-within{
  background: #4D4D4D;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
}

.product-item:hover .product-container,
.product-item:focus-within .product-container{
  opacity: 1;
}

.product-link{
  text-decoration: none;
}

.product-head{
  display: block;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--text-add);
  padding: 0;
  margin: 0 0 12px;
  text-decoration: none;
}

.product-head:hover{
  color: var(--button-red-rest);
}

.product-head:active{
  color: var(--text-add);
  opacity: 0.3;
}

.product-text{
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--address);
  margin: 0 auto 10px;
  padding: 0;
  min-height: 59px;
  width: 208px;
}

.link-button{
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: var(--button-link-know);
  text-decoration: none;
  background-color: var(--button-red-rest);
  text-align: center;
  vertical-align: middle;
  border-radius: 3px;
  padding: 16px 21px;
  bottom: 50px;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  min-width: 159px;
  position: absolute;
}

.link-button:hover,
.link-button:focus{
  background-color: var(--button-red-hover);
}

.link-button:active{
background-color: var(--button-red-active);
box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

/* PAGINATION */

.pagination-list{
  list-style: none;
  margin: 22px 0 21px 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
}

.pagination-item{
  margin-right: 11px;
  margin-bottom: 40px;
}

.pagination-item:last-child{
  margin-right: 0;
}

.item-current{
  margin-right: 11px;
}

.pagination-link{
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: var(--text-add);
  text-transform: uppercase;
  box-sizing: border-box;
  min-width: 50px;
  min-height: 50px;
  background: #EEEEEE;
  border-radius: 3px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.pagination-link--current{
  width: 50px;
  height: 50px;
  border: 3px solid #EEEEEE;
  background-color: white;
}
  
.link-next{
  min-width: 260px;
  min-height: 50px;
  text-align: center;
  margin: 0;
}

.pagination-link:hover,
.pagination-link:focus{
  background: #DFDFDF;
}

.pagination-link:active{
  background: #D5D5D5;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
  border-radius: 3px;
}

.pagination-link--current:hover{
  background: white;
}

.pagination-link--current:active{
  box-shadow: none;
}

/* FOOTER  */

.footer-contacts{
  position: relative;
  padding-top: 56px;;
  padding-bottom: 0px;
  margin-bottom: 48px;
}

.map-wrapper{
  background-size: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.map-img{
  display: block;
  height: 100%;
}

.map-google-container{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.map-google{
  width: 100%;
  height: 100%;
}

.address-wrapper{
  display: inline-block;
  margin: 0 auto;
  padding: 0;
  width: 318px;
  min-height: 308px;
  position: relative;
  z-index: 20;
  left: 50%;
  margin-left: -580px;
  background: white;
  padding-left: 50px;
  padding-right: 50px;
  box-sizing: border-box;
  padding-top: 45px;
}

.footer-social{
  display: grid;
  grid-template-columns: min-content 1fr;
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

.social-promo{
  order:1;
  margin-top: -25px;
  padding: 0 130px;
}

/* ADDRESS POINT*/

.address-head{
  font-size: 18px;
  line-height: 38px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--text-add);
  padding: 0;
  margin-top: -4px;
  margin-bottom: 19px;
}

.address-text{
  font-style: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--address);
  padding: 0;
  margin: 0 0 18px;
}

.address-tel-link{
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-decoration: none;
  color: var(--address);
  display: block;
  margin-bottom: 37px;
}


.social-heavy{
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 0;
}

.social-light{
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  margin-top: 10px;
}

.address-mail-link{
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  vertical-align: middle;
  text-decoration: none;
  background-color: var(--button-red-rest);
  color: var(--button-link-know);
  text-transform: uppercase;
  display: inline-block;
  padding: 16px;
  border-radius: 3px;
  min-width: 100%;
  box-sizing: border-box;
  text-align: center;
}

.address-mail-link:hover,
.address-mail-link:focus{
  background-color: var(--button-red-hover);
  color: var(--button-link-know);
}

.address-mail-link:active{
  background-color:var(--button-red-active);
  color: rgba(255, 255, 255, 0.3);
}

.marker{
  display: inline-block;
  margin: 0;
  padding: 0;
  width: 318px;
  min-height: 308px;
  position: relative;
  z-index: 20;
  left: 50%;
  bottom: 29px;
  margin-left: 208px;
  box-sizing: border-box;
  background-image: url(../img/map/marker.png);
  background-repeat: no-repeat;
}

.social-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 270px;
}

.social-link{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--text-add);
  background-color: #e1e1e1;
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.social-link::after{
  content: "";
  width: 26px;
  height: 15px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.social-item{
  align-items: center;
  padding: 0px 12px 0px 3px;
}

.link-vk::after{
  background-image: url("../img/social/vk.svg");
}

.social-link:hover{
  background: linear-gradient(0deg, #E74246, #E74246), #FFFFFF;
}

.social-link:active{
  background: linear-gradient(0deg, #D7373B, #D7373B), #FFFFFF;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.social-link:active::after{
  opacity: 0.3;
}

.link-fb::after{
  background-image: url("../img/social/facebook.svg");
  width: 12px;
  height: 22px;
}

.link-inst::after{
  background-image: url("../img/social/insta.svg");
  width: 21px;
  height: 21px;
}

/* MODAL-FORM */

.modal-letter{
  top: 120px;
  bottom: auto;
  width: 960px;
  height: 590px;
  padding: 50px 80px;
  position: relative;
}

.modal {
  display: none;
}

.form-wrapper{
  display: block;
  position: relative;
  z-index: 100;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  color: var(--basic-black);
  background-color: #FFFFFF;
  background-position: 0 0;
  background-repeat: repeat;
  box-shadow:  0px 20px 40px rgba(0, 0, 0, 0.4);
  display: none;
  width: 960px;
  /* height: 590px; */
  padding: 0;
  z-index: 100;
  height: 590px;
}

.modal--show{
  display: block;
}

.modal--show .form-wrapper{
  display: block;
  animation: bounce 0.6s;
  
}

.modal--show::after{
  content: "";
  width: 100vw;
  height: 100vh;
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: 50;
}

.modal-close{
  position: absolute;
  top: 76px;
  right: 89px;
  width: 22px;
  height: 22px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  padding: 0;
}

.modal-close::after { 
  content: "";
  position: absolute;
  top: 2px;
  left: 0px;
  width: 21px;
  height: 21px;
  background-repeat: no-repeat;
  background-position: 0 0;
  background: url(../img/close.png);
  opacity: 0.3;
}


.modal-close:hover::after,
.modal-close:focus::after{
  opacity: 1;
}


.modal-close:active::after{
  opacity: 0;
}

.form-header{
  font-size: 45px;
  line-height: 53px;
  margin: 63px 0 0 101px;
  padding: 0px 0 0 0;
}

.field-description{
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
  margin: 34px 0 0 0;
}

.field-input-container{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.name{
  margin: 0px 0px 0px 77px;
}

.mail{
  margin-right: 70px;
}

.letter-form input[type="text"],
.letter-form input[type="email"]{
  box-sizing: border-box;
  width: 361px;
  padding-top: 10px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-left: 15px;
  font: inherit;
  color: black;
  background-color: #ffffff;
  border: 2px solid #D7DCDE;
  border-radius: 3px;
  margin: 16px 0px 0px 0px;
}

.letter-form input[type="text"]:hover,
.letter-form input[type="email"]:hover{
  border: 2px solid #b4b9bb;
}

.letter-form textarea{
  width: 760px;
  height: 118px;
  box-sizing: border-box;
  font: inherit;
  color: black;
  background-color: #ffffff;
  border: 2px solid #D7DCDE;
  resize: none;
}

.letter-form textarea:hover{
  border: 2px solid #b4b9bb;
}

.button-letter{
  position: absolute;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  vertical-align: middle;
  text-decoration: none;
  background-color: var(--button-red-rest);
  color: var(--button-link-know);
  text-transform: uppercase;
  display: inline-block;
  padding: 18px 20px 16px;
  border-radius: 3px;
  box-sizing: border-box;
  text-align: center;
  width: 259px;
  height: 50px;
  border: none;
  top: 456px;
  left: 101px;
  cursor: pointer;
}
  

.button-letter:hover,
.button-letter:focus{
  outline: none;
  background-color: var(--button-red-hover);
  color: var(--button-link-know);
}

.button-letter:active{
  outline: none;
  background-color:var(--button-red-active);
  color: rgba(255, 255, 255, 0.3);
}

@keyframes bounce {
  0% {
    transform: translateY(-2000px);
  }

  70% {
    transform: translateY(30px);
  }

  90% {
    transform: translateY(-10px);
  }

  100% {
    transform: translateY(0);
  }
}

@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}