/* Variables */
:root{
   --button-red-rest: #FB565A;
   --button-red-hover: #E74246;
   --button-red-active: #D7373B;
   --button-green-rest: #00CA74;
   --button-green-hover: #00BC6C;
   --button-green-active: #00AA62;
   --button-yellow-rest: #EFC849;
   --button-yellow-hover: #EAB534;
   --button-yellow-active: #E5A722;
   --filter-buttons-rest: #EEEEEE;
   --filter-buttons-hover: #DFDFDF;
   --filter-buttons-active: #D5D5D5;
   --pagination-rest: #EEEEEE;
   --pagination-hover: #DFDFDF;
   --pagination-active: #D5D5D5;
	 --text-basic: #283136;
    --text-add: #000000;
   --address: #666666;
   --button-link-know: #ffffff;
   --current: rgba(0, 0, 0, 0.0001);
}
/* Global */
/* Index */
.page{
  height: 100%;
}

.page-body{
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--text-basic);
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;
}

.main-header{
  background-color: #eeeeee;
  min-height: 136px;
  padding-top: 76px;
  box-sizing: border-box;
}

.main-nav{
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--text-basic);
  background-color: transparent;
  display: grid;
  width: 1160px;
  margin: 0 auto;
  position: relative;
}

.header-bar{
  background-color: transparent;
}

.header-logo{
  position: absolute;
  left: 0;
  top: -27px;
}

.main-nav-wrapper{
  display: grid;
  grid-template-columns: 1fr min-content;
  background-color: transparent;
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
}

.nav-list{
  margin: 0;
  padding: 0 340px 0 352px;
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.nav-link{
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--text-basic);
  text-decoration: none;
  text-transform: uppercase;
}

.nav-link:hover,
.nav-link:focus{
  color: var(--button-red-rest);
}

.nav-link:active{
  color: var(--text-basic);
  text-decoration: underline;
  text-decoration-color: var(--button-red-rest);
}

.nav-cart{
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--text-basic);
  text-decoration: none;
  text-transform: uppercase;
  position: absolute;
  top: 0;
  right: 0;
}

.nav-cart:hover,
.nav-cart:focus{
  color:var(--button-red-rest);
}

.nav-cart:active{
  color: var(--text-basic);
  text-decoration: underline;
  text-decoration-color: var(--button-red-rest);
}

.nav-cart::before{
  content: "";
  position: absolute;
  top: 6px;
  left: -40px;
  width: 16px;
  height: 18px;
  background-image: url("../img/cart-icon.svg");
  background-repeat: no-repeat;
  background-position: 0 0;

}

.visually-hidden{
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.our-features{
  background-color: #eeeeee;
  margin-bottom: 79px;
}

.slider-list{
  padding: 0;
  margin: 0 auto;
  list-style: none;
  width: 1160px;
  min-height: 410px;
}

.slider-item{
  display: none;
  padding-top: 56px;
  position: relative;
}

.slider-item.slider-item--active::after{
  content: "";
  position: absolute;
  width: 760px;
  height: 436px;
  right: 4px;
  top: -22px;
}

.slider-item--first::after{
  background: url("../img/sliders/phones.png") no-repeat top left;

}

.slider-item--second::after{
  background: url("../img/sliders/math.png") no-repeat top left;
}

.slider-item--third::after{
  background: url("../img/sliders/night.png") no-repeat top left;
}

.slider-item--active{
  display: block;
}

.slider-text--first{
  margin: 0 0 39px;
  padding: 0;
  width: 401px;
}

.slider-text--second{
  margin: 0 0 39px;
  padding: 0;
  width: 401px;
  margin: 0px 0 28px;
  padding: 12px 0px 0px 0px;
  width: 426px;
}

.slider-text--third{
  margin: 0 0 28px;
  padding-top: 13px;
  width: 401px;
  width: 356px;
}

.slider-head{
  font-size: 55px;
  line-height: 55px;
  font-weight:500;
  color: var(--text-add);
}

.slider-head--first{
  padding: 1px;
  margin: 0 0 24px;
  width: 385px;
}

.slider-head--second{
  padding: 0;
  margin: 0 0 26px;
  width: 527px;
}

.slider-head--third{
  padding: 0;
  margin: 0 0 26px;
  width: 527px;
  width: 422px; 
}
 
.slider-link{
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-decoration: none;
  vertical-align: middle;
  background-color: var(--button-red-rest);
  color: var(--button-link-know);
  text-transform: uppercase;
  display: inline-block;
  vertical-align: middle;
  border-radius: 3px;
}

.slider-link--first{
  padding: 16px 55px 16px;
}

.slider-link--second{
  padding: 16px 54px 16px 55px;
}

.slider-link--third{
  padding: 14px 55px 17px 54px;
}

.slider-link:hover,
.slider-link:focus{
  background-color: var(--button-red-hover);
  color: var(--button-link-know);
}

.slider-link:active{
  color: rgba(255, 255, 255, 0.3);
  background-color: var(--button-red-active);
}
/* прием под джс */

.slider-nav{
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  position: absolute;
  bottom: 30px;
  left: 50%;
  margin-left: -10px;
  transform: translateX(-50%);
}

.slider-nav-item{
  margin-left: 10px;
}

.slider-nav-link{
  width: 18px;
  height: 18px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.slider-nav-link--active::after{
  content: "";
  width: 8px;
  height: 8px;
  border: 2px solid #C1C1C1;
  box-sizing: border-box;
  display: block;
  border-radius: 50%;
}

.our-serv{
  width: 1160px;
  margin: 0 auto 80px;
}

.serv-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 40px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}

.serv-item{
  text-align: left;
  padding-top: 171px;
  position: relative;
}

.serv-item::after{
  content: "";
  position: absolute;
  width: 300px;
  height: 146px;
  display: block;
  top: 0;
  left: 0;
  background: rgb(211, 45, 45);
}

.serv-item--first::after{
  background: url("../img/illustrations/web.png");
}

.serv-item--second::after{
  background: url("../img/illustrations/app.png");
}

.serv-item--third::after{
  background: url("../img/illustrations/pres.png");
}

.item-head{
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 16px;
  padding: 0; 
}

.item-text{
  margin: 0 0 32px;
  padding: 0;
  width: 251px;
}

.serv-link{
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-decoration: none;
  vertical-align: middle;
  color: var(--button-link-know);
  text-transform: uppercase;
  display: inline-block;
  padding: 17px 40px;
  border-radius: 3px;
}

.serv-link--web{
  background-color: var(--button-red-rest);
}

.serv-link--web:hover,
.serv-link--web:focus{
  background-color: var(--button-red-hover);
  color: var(--button-link-know);
}

.serv-link--web:active{
  background-color: var(--button-red-active);
  color: rgba(255, 255, 255, 0.3);
}

.serv-link--app{
  background-color: var(--button-green-rest);
}

.serv-link--app:hover,
.serv-link--app:focus{
  background-color: var(--button-green-hover);
  color: var(--button-link-know);
}

.serv-link--app:active{
  background-color: var(--button-green-active);
  color: rgba(255, 255, 255, 0.3);
}

.serv-link--pres{
  background-color: var(--button-yellow-rest);
}

.serv-link--pres:hover,
.serv-link--pres:focus{
  background-color: var(--button-yellow-hover);
  color: var(--button-link-know);
}

.serv-link--pres:active{
  background-color: var(--button-yellow-active);
  color: rgba(255, 255, 255, 0.3);
}

.about-us-wrapper{
  display: grid;
  grid-template-columns: 1fr min-content;
  column-gap: 50px;
  width: 1160px;
  margin: 0 auto;
}

.about-us{
  margin: 0;
  padding: 0;
}

.about-heavy{
  font-size: 45px;
  line-height: 45px;
  font-weight: 500;
  margin: 74px 0 33px;
}

.about-light{
  width: 616px;
}

.about-head{
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  margin: 40px auto;
}

.about-list{
  list-style: none;
}

.about-item::before{
  content: "—";
  position: relative;
  left: -5px;
}

.about-table::before{
  content: "";
  position: absolute;
  top: 40px;
  left: -17px;
  width: 386px;
  height: 225px;
  background-image: url("../img/illustrations/promo.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
}
.about-table{
  text-align: center;
  padding-top: 282px;
  position: relative;

}

.table-caption{
  display: table-caption;
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.tb-head{
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;

}
.tb-data{
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}


.partners{
  width: 1160px;
  margin: 73px auto 80px;
}

.partners-list{
  display: grid;
  grid-template-columns: 260px 260px 260px 260px;
  column-gap: 40px;
  margin: 0 auto;
  list-style: none;
  list-style: none;
  margin: 0 -66px;
  padding: 70px 53px;
  width: 1160px;
  
}

.partners-link {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  width: 290px;
  height: 75px;
}

.partners-item{
  align-items: center;
}

.partners-link:hover{
  opacity: 0.2;
}

.partners-link:active{
  opacity: 0.1;
}

/* ************************************************************ */
/* Catalog inner-page */


/* Catalog */
.catalog-page{

}

.catalog-container{
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 1160px;
  margin: 0 auto;
}

.shop-header{
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
  margin: 0 auto;
  background-color: #eeeeee;
  text-align: center;
  padding-top: 56px;
  padding-bottom: 108px;
}

.shop-header-text{
  max-width: 1160px;
  display: inline-block;
  vertical-align: top;
  margin: 0 auto;
}

.form-filter{
  width: 260px;
  margin: 0;
  padding: 0;
}

.filter-fieldset{
  border: none;
  margin: 0;
  padding: 0;
}
/* ползунки ***********************************************************/

.filter-item {
  margin: 0;
  padding: 0;
  border: none;
}

.range-filter {
  width: 260px;
  margin-top: 49px;
}

.filter-item legend {
  font-size: 18px;
  line-height: 30px;
  text-transform: uppercase;
  font-weight: 700;
}

.range-controls {
  position: relative;
  height: 41px;
  margin-bottom: 15px;
  padding-top: 39px;
  padding-right: 20px;
  padding-left: 20px;
  background-color: #f1f1f1;
  border-radius: 5px;
}

.range-controls .scale {
  height: 2px;
  background: #d7dcde;
}

.range-controls .bar {
  width: 70%;
  height: 2px;
  background: #00ca74;
  margin-left: 0;
}

.range-controls .toggle {
  position: absolute;
  top: 31px;
  left: 0;
  width: 4px;
  height: 4px;
  padding: 0;
  border: 8px solid #ffffff;
  background-color: #ababab;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 #cfcfcf;
  cursor: pointer;
}

.range-controls .toggle-min {
  left: 18px;
}

.range-controls .toggle-max {
  left: 160px;
}

.price-controls {
  display: flex;
  justify-content: space-between;
}

.price-controls label {
  text-transform: uppercase;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
}

.price-controls input {
  width: 80px;
  padding: 0;
  height: 38px;
  margin-left: 8px;
  text-align: center;
  color: #283136;
  border: none;
  border-radius: 5px;
  background: #f1f1f1;
  font-family: inherit;
  font-size: inherit;
  border-radius: 3px;
}

/* ползунки ***********************************************************/


/* Фильтр по стоимости */
.price-input{
  background-color: var(--filter-buttons-rest);
  border: none;
}

.legend-price{
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}
/* Фильтр по сетке */
.legend-grid{
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.grid-item{
  margin-bottom: 20px;
}

.grid-item label{
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.grid-list{
  list-style: none;
}

.input-grid-radio+label{
  font-size: 16px;
  line-height: 20px;
  color: var(--text-basic);
}

.input-grid-radio + label::before{
  content: "";
  position: absolute;
  left: -42px;
  top: 0;
  width: 25px;
  height: 25px;
  border: 4px solid rgba(77, 77, 77, 0.4);
  border-radius: 50%;
  box-sizing: border-box;
}

.input-grid-radio + label::after{
  content: "";
  position: absolute;
  top: 8px;
  left: -34px;
  width: 9px;
  height: 9px;
  background: rgba(77, 77, 77, 0.4);
  border-radius: 50%;
  box-sizing: border-box;
  display: none;
}

.radio-label:hover::after{
  background: #4d4d4d;
}

.radio-label:hover::before{
  border-color: #4d4d4d;
}

.input-grid-radio:checked + label::after{
  display: block;
}

.input-grid-radio:focus + label::after{
  background: #4d4d4d;
}

.input-grid-radio:focus + label::before{
  border-color: #4d4d4d;
}

/* Фильтр по особенностям */
.legend-feature{
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.filter-feature{
  list-style: none;
  position: relative;
  display: block;
  margin: 0;
  padding: 0;
}

.checkbox{
  min-height: 27px;
}

.checkbox-label{
  font-size: 16px;
  line-height: 20px;
  color: var(--text-basic);
  position: relative;
  padding-left: 37px;
  padding-top: 2px;
  cursor: pointer;
  display: inline-block;
  vertical-align: top;
  min-height: 23px;
}

.checkbox-input + label::before{
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 23px;
  height: 23px;
  border: 2px solid rgba(77, 77, 77, 0.4);
  box-sizing: border-box;
  border-radius: 3px;
  z-index: 1;
}

.checkbox-input:hover + label::before{
  border-color: #4d4d4d;
}

.checkbox-input:focus + label::before{
  border-color: #4d4d4d;
}

.checkbox-spec{
  height: 7px;
  width: 19px;
  background: white;
  position: absolute;
  display: block;
  left: 11px;
  top: 4px;
  transform: rotate(-45deg);
  z-index: 2;
}

.checkbox-spec:hover{
  border-color: #4d4d4d;
}

.checkbox-spec:focus{
  border-color: #4d4d4d;
}

 /* А как сделать для checked */
.checkbox-input:checked + label::after{
  content: "";
  position: absolute;
  left: 5px;
  top: 3px;
  width: 19px;
  height: 11px;
  box-sizing:  border-box;
  border-left: 4px solid rgba(77, 77, 77, 0.4);
  border-bottom: 4px solid rgba(77, 77, 77, 0.4);
  transform: rotate(-45deg);
  z-index: 3;
}

.checkbox-input:checked + label::after{
  display: block;
}

.checkbox-input:checked:hover + label::after{
  border-color: #4d4d4d;
}

.checkbox-input:checked:focus + label::after{
  border-color: #4d4d4d;
}
 
.feature-item{
  margin-bottom: 20px;
}


/* Кнопка "показать" */
.filter-btn{
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  vertical-align: middle;
  color: var(--text-add);
  vertical-align: middle;
  text-transform: uppercase;
  background: #eeeeee;
  border: none;
  padding: 17px 89px;
  text-decoration: none;
  display: inline-block;
  border-radius: 3px;
  
}

.filter-btn:hover,
.filter-btn:focus{
  background: #DFDFDF;;
}

.filter-btn:active{
background: #D5D5D5;
box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
border-radius: 3px;
}
/* не получается задать полупрозрачность только для текста. при написании правила полупрозрачность задается для всего элемента */
/* Кнопки сортировки по типу и т.д */


.sort-head{
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
}

.sort-list{
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.sort-list-item{
  margin: 25px;
}

.direction-list{
  list-style: none;
  margin: 0;
  padding: 0;

}
.direction-item{
  position: relative;

}

.direction-link{
  display: block;
}

.direction-increase::after{
  content: "";
  position: absolute;
  top: 26px;
  left: 11px;
  width: 17px;
  height: 18px;
  background-image: url(../img/catalog/black.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  transform: rotate(118deg);
}

.direction-increase:hover:after{
  /* background-image: url(../img/catalog/gray.svg) */
  opacity: 0.3;
  
}

.direction-increase:focus::after{
  /* background-image: url(../img/catalog/gray.svg) */
  opacity: 0.3;
}
/* ????????????????????????????????????????????????????? */

/* доделать по примеру слайдов   подчеркивание классом для шапки*/

.direction-decrease::after{
  content: "";
  position: absolute;
  top: 34px;
  left: 43px;
  width: 16px;
  height: 18px;
  background-image: url(../img/catalog/black.svg);
  background-repeat: no-repeat;
  background-position: 0 0;
  transform: rotate(60deg);
}



.button-link{
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: var(--text-add);
  text-transform: uppercase;
  opacity: 0.3;
}

.button-link:hover,
.button-link:focus{
  opacity: 0.6;
}

.button-link:active{
  opacity: 1;
}

.our-products{
  width: 760px;
}

.sort-container{
  display: flex;
}


/* Стилизация карточек товаров */
.product-list{
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  justify-content: space-between;
  
}

.product-item{
  position: relative;
  border-radius: 5px;
  background: rgba(77, 77, 77, 0.12);
  padding-top: 41px;
  margin-bottom: 27px;
}

.product-img {
  padding: 0;
  margin: 0;
}

.product-container{
  background-color: var(--pagination-rest);
  position: absolute;
  bottom: 0;
  left: 0;
  text-align: center;
  width: 100%;
  padding-top: 29px;
  padding-bottom: 102px;
  opacity: 0;

}

.product-item:hover,
.product-item:focus-within{
  background: #4D4D4D;
  box-shadow: 0 6px 15px rgba(0, 0, 0, 0.25);
}

.product-item:hover .product-container,
.product-item:focus-within .product-container{
  opacity: 1;
}



.product-link{
  text-decoration: none;
}

.product-head{
  display: block;
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--text-add);
  padding: 0;
  margin: 0 0 12px;
  text-decoration: none;
}

.product-head:hover{
  color: var(--button-red-rest);
}

.product-head:active{
  color: var(--text-add);
  opacity: 0.3;
}

.product-text{
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--address);
  margin: 0 auto 10px;
  padding: 0;
  min-height: 59px;
  width: 208px;
}

.link-button{
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: var(--button-link-know);
  text-decoration: none;
  background-color: var(--button-red-rest);
  text-align: center;
  vertical-align: middle;
  border-radius: 3px;
  padding: 17px 20px;
  bottom: 51px;
  left: 50%;
  transform: translateX(-50%);
  display: inline-block;
  min-width: 159px;
  position: absolute;
  


}

.link-button:hover,
.link-button:focus{
  background-color: var(--button-red-hover);
}

.link-button:active{
background-color: var(--button-red-active);
box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}
/* Пагинация */
.pagination-list{
  list-style: none;
  margin: 0;
  padding: 0;
}

.pagination-item{
  width: 47px;
  height: 47px;
  background: #EEEEEE;
  border-radius: 3px;
  display: inline-block;
  margin-right: 11px;
  border: 3px solid #EEEEEE;

}

.item-current{
  background: #FFFFFF;
  border: 3px solid #DBDBDB;
  
}
/* Так не получается с границей */
/* возможно сделать эл-т по 47 и добавить бордер 3px всем */
.pagination-page{
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: var(--text-add);
  text-transform: uppercase;
  display: block;
  /* padding-left: 18px;
  padding-top: 15px; */
  padding: 14px 23px 17px 18px;
  box-sizing: border-box;
}

.page-next{
  min-width: 260px;
  min-height: 47px;
  text-align: center;
  padding: 0;
  margin: 0;
}

.pagination-page:hover,
.pagination-page:focus{
  background-color: var(--pagination-hover);
}

.pagination-page:active{
  background-color: var(--pagination-active);
}
/* здесь тоже доделать полупрозрачность текста */

/* FOOTER ******************************************************/

.footer-contacts{
  position: relative;
  padding-top: 56px;;
  padding-bottom: 55px;
  margin-bottom: 69px;
}

.map-wrapper{
  background-size: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

.map-img{
  display: block;
  height: 100%;
}

.map-google-container{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 10;
}

.map-google{
  width: 100%;
  height: 100%;
}

.address-wrapper{
  display: inline-block;
  margin: 0 auto;
  padding: 0;
  width: 318px;
  min-height: 308px;
  position: relative;
  z-index: 20;
  left: 50%;
  margin-left: -580px;
  background: white;
  padding-left: 50px;
  padding-right: 50px;
  box-sizing: border-box;
  padding-top: 45px;
}

.footer-social{
  display: grid;
  grid-template-columns: min-content 1fr;
  width: 1160px;
  margin: 0 auto;
  padding: 0 10px;
  }

.social-promo{
  order:1;
  margin-top: -25px;
  padding: 0 130px;
}
/* Адресный пункт */
.address-head{
  font-size: 18px;
  line-height: 38px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--text-add);
  padding: 0;
  margin: 0;
  margin-bottom: 19px;
}

.address-text{
  font-style: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--address);
  padding: 0;
  margin: 0 0 18px;
}

.address-tel-link{
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-decoration: none;
  color: var(--address);
  display: block;
  margin-bottom: 36px;
}

.social-heavy{
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
  margin-top: 31px;
}

.social-light{
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  margin-top: 10px;
}

.address-mail-link{
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  vertical-align: middle;
  text-decoration: none;
  background-color: var(--button-red-rest);
  color: var(--button-link-know);
  text-transform: uppercase;
  display: inline-block;
  padding: 18px 20px 16px;
  border-radius: 3px;
  min-width: 100%;
  box-sizing: border-box;
  text-align: center;
}

.address-mail-link:hover,
.address-mail-link:focus{
  background-color: var(--button-red-hover);
  color: var(--button-link-know);
}

.address-mail-link:active{
  background-color:var(--button-red-active);
  color: rgba(255, 255, 255, 0.3);
}

.social-list{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 270px;
}

.social-link{
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  color: var(--text-add);
  background-color: #e1e1e1;
  width: 75px;
  height: 75px;
  border-radius: 50%;
}

.social-link::after{
  content: "";
  width: 26px;
  height: 15px;
  background-repeat: no-repeat;
  background-position: 0 0;
}

.social-item{
  align-items: center;
}

.link-vk::after{
  background-image: url("../img/social/vk.svg");
}

.social-link:hover{
  background: linear-gradient(0deg, #E74246, #E74246), #FFFFFF;
}

.social-link:active{
  background: linear-gradient(0deg, #D7373B, #D7373B), #FFFFFF;
  box-shadow: inset 0px 3px 0px rgba(0, 1, 1, 0.1);
}

.social-link:active::after{
  opacity: 0.3;
}

.link-fb::after{
  background-image: url("../img/social/facebook.svg");
  width: 12px;
  height: 22px;
}

.link-inst::after{
  background-image: url("../img/social/insta.svg");
  width: 21px;
  height: 21px;
}

.modal-letter{
  top: 120px;
  bottom: auto;
  width: 960px;
  height: 590px;
  padding: 50px 80px;
}

.modal {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  color: var(--basic-black);
  background-color: #FFFFFF;
  background-position: 0 0;
  background-repeat: repeat;
  box-shadow:  0px 20px 40px rgba(0, 0, 0, 0.4);
}

.modal-close {
  position: absolute;
  top: 0;
  right: -34px;
  width: 22px;
  height: 22px;
  background-color: red;
  border: 0;
  cursor: pointer;
}


.form-header{
  font-size: 45px;
  line-height: 53px;
}

.field-description{
  font-size: 16px;
  line-height: 18px;
  font-weight: 700;
}

.letter-form input[type="text"],
.letter-form input[type="email"]{
  box-sizing: border-box;
  width: 300px;
  padding-top: 10px;
  padding-right: 40px;
  padding-bottom: 10px;
  padding-left: 15px;
  font: inherit;
  color: black;
  background-color: #ffffff;
  border: 2px solid #D7DCDE;
  border-radius: 3px;
}

.letter-form input[type="text"]:hover,
.letter-form input[type="email"]:hover{
  border: 2px solid #b4b9bb;
}

.letter-form textarea{
  width: 760px;
  min-height: 118px;
  box-sizing: border-box;
  font: inherit;
  color: black;
  background-color: #ffffff;
  border: 2px solid #D7DCDE;
}

.letter-form textarea:hover{
  border: 2px solid #b4b9bb;
}


.button-letter{
    font-size: 16px;
    line-height: 18px;
    font-weight: 500;
    vertical-align: middle;
    text-decoration: none;
    background-color: var(--button-red-rest);
    color: var(--button-link-know);
    text-transform: uppercase;
    display: inline-block;
    padding: 18px 20px 16px;
    border-radius: 3px;
    box-sizing: border-box;
    text-align: center;
    width: 259px;
    height: 50px;
    border: none;
    /* доступно ли убрать бордер? */
}

.button-letter:hover,
.button-letter:focus{
  outline: none;
  background-color: var(--button-red-hover);
  color: var(--button-link-know);
}

.button-letter:active{
  outline: none;
  background-color:var(--button-red-active);
  color: rgba(255, 255, 255, 0.3);
}
