/* Variables */
:root{
   --button-red-rest:#FB565A;
   --button-red-hover:#E74246;
   --button-red-active:#D7373B;
   --button-green-rest:#00CA74;
   --button-green-hover:#00BC6C;
   --button-green-active:#00AA62;
   --button-yellow-rest:#EFC849;
   --button-yellow-hover:#EAB534;
   --button-yellow-active:#E5A722;
   --filter-buttons-rest:#EEEEEE;
   --filter-buttons-hover:#DFDFDF;
   --filter-buttons-active:#D5D5D5;
   --pagination-rest:#EEEEEE;
   --pagination-hover:#DFDFDF;
   --pagination-active:#D5D5D5;
	 --text-basic:#283136;
   --text-add: #000000;
   --address:#666666;
   --button-link-know:#ffffff;
   --current:rgba(0, 0, 0, 0.0001);
}
/* Global */
/* Index */
/* Как лучше сделать стилизацию слайдеров, в плане background-color? Или это позже? */
.page{
  height:100%;
}
.page-body {
  min-width: 960px;
  margin: 0;
  padding: 0;
  font-family:"Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;
  color: var(--text-basic);
/* добавляю правила для гридов */
  min-height: 100%;
  display: grid;
  grid-template-rows: min-content 1fr min-content;
  align-content: start;

}
/* Нужно ли прописывать название шрифта для каждого элемента или достаточно задать в body? */
 .main-header{
  margin-bottom: 70px;
  outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px;
}

 .header-logo{
  outline: 5px solid rgba(255, 0, 0, 0.3);
  outline-offset: -5px;
 }
.main-nav {
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--text-basic);
  background-color: transparent;
  display: grid;
}

.container{
  width: 1174px;
  margin: 0 auto;
  padding: 0 10px;

}
.header-bar{
  background-color: transparent;
}
/* ощущение что можно сделать шапку проще */
.header-logo{
  justify-self: start;
}
.main-nav-wrapper{
  display: grid;
  grid-template-columns: 1fr min-content;
  background-color: transparent;
  width: 1174px;
  margin: 0 auto;
  padding: 0 10px;
}
.nav-list{
  margin: 0;
  padding: 0;
  outline: 5px solid rgba(0, 255, 255, 0.3);
  outline-offset: -5px;
  list-style: none;
  list-style: none;
}
.nav-link{
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--text-basic);
  text-decoration: none;
  text-transform: uppercase;
}
.nav-link:hover,
.nav-link:focus{
  color:var(--button-red-rest);
}
.nav-link:active{
  color: var(--text-basic);
  text-decoration: underline;
  text-decoration-color: var(--button-red-rest);
}
/* правильно ли так написать правило для ссылки на страницу, на которой находимся? или это вообще лишнее сейчас? */
.nav-cart{
  font-size: 16px;
  line-height: 30px;
  font-weight: 500;
  color: var(--text-basic);
  text-decoration: none;
  text-transform: uppercase;
  outline: 5px solid rgba(255, 0, 255, 0.3);
  outline-offset: -5px;
}
.nav-cart:hover,
.nav-cart:focus{
  color:var(--button-red-rest);
}
.nav-cart:active{
  color: var(--text-basic);
  text-decoration: underline;
  text-decoration-color: var(--button-red-rest);
}
.slider-list{
  list-style: none;
}
.slider-head{
  font-size: 55px;
  line-height: 55px;
  font-weight:500;
  color: var(--text-add);
}
.slider-link{
  font-size: 16px;
  line-height: 18px;
  font-weight:500;
  text-decoration: none;
  vertical-align: middle;
  background-color: var(--button-red-rest);
  color: var(--button-link-know);
}
.slider-link:hover,
.slider-link:focus{
  background-color: var(--button-red-hover);
  color: var(--button-link-know);
}
.slider-link:active{
  color:var(--button-link-know);
  background-color: var(--button-red-active);
}
/* не понял как сделать полупрозрачность только для текста при нажатии на ссылку. возможно текст нужно обернуть во что-то? */
.our-serv{
  outline: 5px solid rgba(255, 0, 0 , 0.3);
  margin-bottom: 121px;

}
.serv-list{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  column-gap: 40px;
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.serv-item{
  text-align: center;
  outline: 5px solid rgba(0, 255, 255 , 0.3);
  outline-offset: -5px;
}
.item-head{
  font-size: 24px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  
}
.item-text{
  margin: 0 10px;
}
/* Нужно ли сразу задать выравнивание теста или потом уже сделать */
.serv-link-web{
  font-size: 16px;
  line-height: 18px;
  font-weight:500;
  text-decoration: none;
  vertical-align: middle;
  background-color: var(--button-red-rest);
  color: var(--button-link-know);
}
.serv-link-web:hover,
.serv-link-web:focus{
  background-color: var(--button-red-hover);
  color: var(--button-link-know);
}
.serv-link-web:active{
  background-color:var(--button-red-active);
}
.serv-link-app{
  font-size: 16px;
  line-height: 18px;
  font-weight:500;
  text-decoration: none;
  vertical-align: middle;
  background-color: var(--button-green-rest);
  color: var(--button-link-know);
}
.serv-link-app:hover,
.serv-link-app:focus{
  background-color: var(--button-green-hover);
  color: var(--button-link-know);
}
.serv-link-app:active{
  background-color:var(--button-green-active);
}
.serv-link-pres{
  font-size: 16px;
  line-height: 18px;
  font-weight:500;
  text-decoration: none;
  vertical-align: middle;
  background-color: var(--button-yellow-rest);
  color: var(--button-link-know);
}
.serv-link-pres:hover,
.serv-link-pres:focus{
  background-color: var(--button-yellow-hover);
  color: var(--button-link-know);
}
.serv-link-pres:active{
  background-color:var(--button-yellow-active);
}
.about-us-wrapper{
  display: grid;
  grid-template-columns: 1fr min-content;
  outline: 5px solid rgba(255, 0, 0, 0.7);
}
/* не уверен насчёт правильности распределения выше */
.about-us{
  outline: 5px solid rgba(0, 255, 255, 0.7);
  outline-offset: -5px;
}
.about-table{
  outline: 5px solid rgba(0, 255, 0, 0.7);
  outline-offset: -5px;
}
.about-heavy{
  font-size: 45px;
  line-height:45px;
  font-weight: 500;
}

.about-head{
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}
.table-caption{
  font-size: 16px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}
/* стоит ли прописывать для разных классов повторяющиеся правила(так нагляднее), или лучше записать одно правило для нескольких? */
.tb-head{
  font-size: 45px;
  line-height: 64px;
  font-weight: 700;

}
.tb-data{
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
}
.partners-wrapper{

  outline: 5px solid rgba(0, 255, 0, 0.7);

}
.partners{
  outline: 5px solid rgba(0, 255, 255 , 0.3);
  outline-offset: -5px;
  margin-top: 73px;
  margin-bottom: 80px;
}
.partners-list{
  display: grid;
  grid-template-columns: 260px 260px 260px 260px;
  column-gap: 40px;
  margin: 0;
  padding: 0;
  list-style: none;

}
.partners-item{
  outline: 5px solid rgba(255, 0, 0 , 0.3);
  outline-offset: -5px;
}
/* почему список вылез за края заданной ширины main */
/* Catalog */

.shop-header{
  font-size: 55px;
  line-height: 55px;
  font-weight: 500;
}
.filter-fieldset{
  border:none;
}
/* Фильтр по стоимости */

.price-input{
  background-color: var(--filter-buttons-rest);
  border: none;
}
 /* посмотрел как убрать стрелки, но это немного сложно, поэтому решил, что пока рано для этого задания */
.legend-price{
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}
/* Фильтр по сетке */
.legend-grid{
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}
.grid-list{
  list-style:none;
}
.input-grid-radio+label{
  font-size: 16px;
  line-height: 20px;
  color: var(--text-basic);
}/* похоже этого достаточно, т.к. текст цвет не меняет при наведении */

/* Фильтр по особенностям */
.legend-feature{
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}
.filter-feature{
  list-style: none;
}
.input-feature-checkbox+label{
  font-size: 16px;
  line-height: 20px;
  color: var(--text-basic);
}
/* Кнопка "показать" */
.filter-btn{
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  text-align: center;
  color: var(--text-add);
  vertical-align: middle;
  text-transform: uppercase;
  background-color: var(--pagination-rest);
  border: none;
}
.filter-btn:hover,
.filter-btn:focus{
  background-color: var(--filter-buttons-hover);
}
.filter-btn:active{
  background-color: var(--filter-buttons-active);
  opacity: 0.3;
}
/* не получается задать полупрозрачность только для текста. при написании правила полупрозрачность задается для всего элемента */

/* Кнопки сортировки по типу и т.д */
.sort-head{
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
}
.sort-list{
  list-style: none;
}
/* кнопки сортиовки с треугольниками */
.button-link{
  text-decoration: none;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;
  color: var(--text-add);
  text-transform: uppercase;
  opacity: 0.3;
}
.button-link:hover,
.button-link:focus{
  opacity: 0.6;
}
.button-link:active{
  opacity: 1;
}
/* Стилизация карточек товаров */
.product-list{
  list-style: none;
}
.product-container{
  background-color: var(--pagination-rest);
  }
.product-link{
  text-decoration: none;
}
.product-head{
  font-size: 18px;
  line-height: 30px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--text-add);
}
.product-head:hover{
  color: var(--button-red-rest);
}
.product-head:active{
  color:var(--text-add);
  opacity: 0.3;
}
.product-text{
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color:var(--address);
}
.link-button{
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: var(--button-link-know);
  text-decoration: none;
  background-color: var(--button-red-rest);
  text-align: center;
  vertical-align: middle;
}
.link-button:hover,
.link-button:focus{
  background-color: var(--button-red-hover);
}
.link-button:active{
  background-color: var(--button-red-active);
}
/* Пагинация */
.pagination-list{
  list-style: none;
}
.pagination-page{
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: var(--text-add);
  background-color: var(--pagination-rest);
}
.pagination-page:hover,
.pagination-page:focus{
  background-color: var(--pagination-hover);
}
.pagination-page:active{
  background-color: var(--pagination-active);
}
/* здесь тоже доделать полупрозрачность текста */
.pagination-page-current{
  text-decoration: none;
  font-size: 16px;
  line-height: 18px;
  font-weight: 500;
  color: var(--text-add);
  background-color:var(--current);
  border: 3px solid var(--text-add);
}
.main-footer{
  outline: 5px solid rgba(255, 0, 0, 0.7);
  outline-offset: -5px;
}
.footer-social{
  display: grid;
  grid-template-columns: min-content 1fr;
  width: 1060px;
  margin: 0 auto;
  padding: 0 10px;
  outline: 5px solid purple;
  outline-offset: -5px;
  }
/* стоит ли так задавать промо с социалками, если в макете они фиксир ширины? */
.social-promo{
  outline: 5px solid rgba(0, 255, 0, 0.7);
  order:1;

}
/* Адресный пункт */
.address-head{
  font-size: 18px;
  line-height: 38px;
  font-weight: 700;
  text-transform: uppercase;
  color: var(--text-add);
}
.address-text{
  font-style: inherit;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  color: var(--address);
}
.address-tel-link{
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-decoration: none;
  color: var(--address);
}
.social-heavy{
  font-size: 36px;
  line-height: 36px;
  font-weight: 700;
}
.social-light{
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
}
.address-mail-link{
  font-size: 16px;
  line-height: 18px;
  font-weight:500;
  vertical-align: middle;
  text-decoration: none;
  background-color: var(--button-red-rest);
  color: var(--button-link-know);
}
.address-mail-link:hover,
.address-mail-link:focus{
  background-color: var(--button-red-hover);
  color: var(--button-link-know);
}
.address-mail-link:active{
  background-color:var(--button-red-active);
}
.social-list{
  outline: 5px solid rgba(0, 255, 255, 0.7);
  outline-offset: -5px;
  list-style: none;
  margin: 0;
  padding: 0;
}
.social-link{
  text-decoration: none;
  color: var(--text-add);
}

/* не очень понял, нужно ли было писать какие-то предварительные стили для ссылок на соцсети */